#system {
  background: #fff;
  padding: 20px;
}

.system-dropdown {
  left: 5px;
  .ant-dropdown-menu-item>.anticon:first-child,.anticon,
  .ant-dropdown-menu-submenu-title>.anticon:first-child {
    padding: 0 3px;
    margin: 0
  }
}